@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-glow: #031cff;
  --light-glow: #4053ff;
}

body {
  background-color: #171717;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--dark-glow),
      0 0 40px var(--dark-glow), 0 0 50px var(--dark-glow),
      0 0 60px var(--dark-glow), 0 0 70px var(--dark-glow);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--light-glow),
      0 0 40px var(--light-glow), 0 0 50px var(--light-glow),
      0 0 60px var(--light-glow), 0 0 70px var(--light-glow),
      0 0 80px var(--light-glow);
  }
}

/* .line-bg {
  background-color: ;
} */

.MathJax {
  font-size: 24px !important;
}

.blog pre code {
  @apply block w-fit rounded bg-neutral-950 p-2 my-4;
}

.blog ul {
  @apply list-disc;
}

.blog h1 {
  @apply text-4xl font-bold
}
.blog h2 {
  @apply text-3xl font-bold
}
.blog h3 {
  @apply text-2xl font-bold
}
.blog h4 {
  @apply text-xl font-bold
}
.blog h5 {
  @apply text-lg font-bold
}
.blog h6 {
  @apply text-base font-bold
}

p:has(.MathJax) {
  @apply my-4;
}
